@media(max-width: 1440px) {
    section.pictures {
        width: 900px;
    }
}

@media(min-width: 768px) {
    main {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }

    section.pictures {
        display: flex;
        /* width: 900px; */
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    figcaption.info {
        left: 2rem;
        bottom: 4.3rem
    }
}